
# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /account/

# Allow any files that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Account URIs
RewriteRule .* auth.php/$0 [QSA,L]
